<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

<!-- jerome's code -->
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #f2f2f2;
    text-align: left;
    padding: 8px;
    vertical-align: middle !important;
  }

  th {
    color: white;
    border: 1px solid #333;
    background-color: #333;
  }

  tr:hover {
    background-color: rgb(213, 230, 236);
    /* background-color: rgb(198, 229, 239); */
  }

  tr td.password_password:hover {
    -webkit-text-security: none;
  }

  tr {
    background-color: #ececec;
  }

  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */

  .password_password {
    -webkit-text-security: square; /* Default */
  }

  </style>
<!--  -->

</head>


<body>

  <header>
    <h1 id="title">PasswordKeeperR</h1>
    <div id="headers">
      <% if(user){ %>
        <p> Logged In as : <%= user.email %> </p>
        <form action="/logout"   method="POST" >
         <button  type="submit"> Logout </button>
        </form>
          <% } else{ %>
      <Span id="buttons">
          <a href="/login">
          <button id="login-button">Login</button>
        </a>
        <a href="/register">
          <button id="register-button">register</button>
        </a>
        <% } %>
      </Span>
    </div>
  </header>

   <!-- Page-specific (main) content here -->

   <div class="main">
    <h2>Password Generator</h2>
    <div class="result-container">
      <textarea id="output" rows="1"></textarea>
    <button id="copy-button" data-clipboard-target="#output">Copy</button>
    </div>
    <div class="settings">
      <div class="input-group">
        <label>Password length (4-20)</label>
        <input type="range" id="length" min="4" max="20" step="1" />
        <span id="length-result">20</span>
      </div>
      <div class="input-group">
        <label>Include numbers</label>
        <input type="checkbox" id="numbers"/>
      </div>
      <div class="input-group">
        <label>Include symbols</label>
        <input type="checkbox" id="symbols"/>
      </div>
      <div class="input-group">
        <label>Include upper case letters</label>
        <input type="checkbox" id="upper-case"/>
      </div>
      <div class="input-group">
        <label>Include lower case letters</label>
        <input type="checkbox" id="lower-case" />
      </div>
    </div>
    <button class="generate-btn" id="generate">Generate</button>
  </div>



<br>
<br>
  <div id="New">
    <button id="New_Account">New Account</button>
    <br>
    <div class="mid_section">
      <select id="pulldown">
        <option value="">Select a category</option>
        <option value="social media">Social Media</option>
        <option value="gaming">Gaming</option>
        <option value="work">Work</option>
        <option value="entertainment">Entertainment</option>
      </select>
      <span class="div1">
                <h3>Website </h3>
          <input type="text" class="div-input" placeholder="Website" id="div1-input">
        <div id="div1-output" style="display: none"></div>
      </span>
      <span class="div2">
        <h4>Username</h4>
          <input type="text" class="div-input" placeholder="Username" id="div2-input">
        <div id="div2-output" style="display: none"></div>
      </span>
      <span class="div3">
        <h4>Password</h4>
          <input type="text" class="div-input" placeholder="Password" id="div3-input">
        <div id="div3-output" style="display: none"></div>
      </span>
      <span class="div4">
        <button class="add">Add</button>
        <button class="edit">Edit</button>
      </span>
    </div>


</div>







<div>
  <form class="test-password" action="/api/passwords" method="post">
    <input class="text-box" type="text">
    <button>submit</button>
  </form>

</div>

<!-- jerome's code -->
<br>
<br>

<form id="password-edit-submit" action="/api/passwords/edit" method="post"></form>
<form id="password-edit"></form>
<form id="password-delete" action="/api/passwords/delete" method="post"></form>

<form id="new-password-form" action="/api/passwords" method="post">
  <label>Category</label>
  <select id="category-pulldown" class="new-category" required>
    <option disabled selected value>-- Select a category --</option>
    <option value="Social Media">Social Media</option>
    <option value="Gaming">Gaming</option>
    <option value="Work">Work</option>
    <option value="Entertainment">Entertainment</option>
  </select>
  <label>Website</label>
  <input type="text" placeholder="http://" class="new-website" required>
  <label>Username</label>
  <input type="text" class="new-username" required>
  <label>Password</label>
  <input type="password" class="new-password" required>
  <label>Hint</label>
  <input type="text" class="new-hint">
  <input type="submit" value="Submit">
</form>
<br>

<table>
  <thead>
    <tr>
      <th style="display:none;">#</th>
      <th>Credential Type</th>
      <th>Website</th>
      <th>Username</th>
      <th>Password</th>
      <th>Hint (optional)</th>
      <th>Category</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <!-- placeholder for passwords data -->
  <tbody class="passwords-container">
  </tbody>
</table>
<script defer src="/scripts/helper.js"></script>
<script defer src="/scripts/app.js"></script>
</body>

</html>
