<!DOCTYPE html>
<html>
<head>
  <title>Registration Page</title>
  <style>
    body {
      background-color: #483D8B;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .center {
      background-color: #483D8B;
      width: 50%;
      padding: 20px;
      border-radius: 5px;
      text-align: center;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="slide navbar style.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/register.scss" />
</head>
<body>
  <div class="center">
    <h1>Registration</h1>
    <form action="/register" method="post">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email">
      <br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      <br><br>

      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>
