<!DOCTYPE html>
<html>
<head>

  <title>Registration Page</title>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" type="text/css" href="slide navbar style.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/login.css" />
</head>
<body>
  <div class="center">
    <h1>Registration</h1>
    <form action="/register" method="post">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email">
      <br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      <br><br>
      <label for="app">Organization:</label>
      <select id="organization" name="organization">
        <option value="1">Kwimbee</option>
        <option value="2">Photofeed</option>
      </select>
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </div>

</body>
</html>
