<!DOCTYPE html>
<html>
<head>
  <title>Registration Page</title>
</head>
<body>
  <h1>Registration</h1>
  <form action="">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email">
    <br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <br><br>
    <label for="password_confirmation">Confirm Password:</label>
    <input type="password" id="password_confirmation" name="password_confirmation">
    <br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
