// See: https://sass-lang.com/

body,
html {
  margin: 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #f2f2f2;
  text-align: left;
  padding: 8px;
  vertical-align: middle !important;
}

th {
  color: white;
  border: 1px solid #333;
  background-color: #333;
}

tr td.password_password:hover {
  -webkit-text-security: none;
}

tr {
  background-color: #ececec;
}

  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */

.password_password {
  -webkit-text-security: square; /* Default */
}



