body {
  background-color: #483D8B;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.center {
  background-color: #483D8B;
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

